  <div class='row'>
    <div class='span8 well'>
      <em><p>"<%= comment.body %>"</p></em>
      <span class='quiet'>by </span><%= link_to comment.creator.username, user_path(comment.creator) %> <small>at <%= display_datetime(comment.created_at) %></small>
    </div>
  </div>