  <div class='row'>
    <div class='span8 well'>
      <p>"<%= comment.body %>"</p>
      <span class='quiet'>posted by </span><%= comment.creator.username %> <small>at <%= comment.created_at %></small>
    </div>
  </div>