  <div class='row'>
    <div class='span8 well'>
      <p>"<%= comment.body %>"</p>
      <span class='quiet'>posted by </span><%= link_to comment.creator.username, user_path(comment.creator) %> <small>at <%= comment.created_at %></small>
    </div>
  </div>