<div class="nav_item btn-group">
  <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Categories <span class="caret"></span>
  <% end %>

  <ul class="dropdown-menu">
    <% if Category.any? %>
      <% Category.all.each do |category| %>
        <li role="presentation">
          <%= link_to category.name, category_path(category) %>
        </li>
      <% end %>
      <% if logged_in? %>
        <li class="divider"></li>
      <% end %>
    <% end %>
    <% if logged_in? %>
      <li>
        <%= link_to(new_category_path) do %>
          <i class='icon-plus'></i>
          New Category
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
