<ul class="nav">
  <li>
    <%= link_to "PostIt!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= render 'layouts/category_dropdown' %>
  </li>
  <li>
    <div class='nav_item'>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
    </div>
  </li>
</ul>

